body{
    background: #bfbdbd;
}

*{
    margin: 0px;
    padding: 0px;
}
.first-heading{
    color: white;
    text-align: center;
    padding-top: 12px;
}
header{
    background: #162a61;
    height: 82px;
    position: sticky;
    top: 0px;
}
nav ul{
    display: flex;
    justify-content: flex-start;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color:white;
    padding: 42px;
    text-decoration: none;
}
nav ul li a:hover{
    color: red;
    font-weight: bolder;
}
.first-a{
    text-decoration: none;
    color: black;
}
.container-1{
    /* background: #dad5d5;
     */
     background: #ededed;
    width: 550px;
    border: 2px solid black;
    height: 300px;
}
.container-1:hover{
    width: 600px;  
    height: 310px;
    background: black;
    font-size: 22px;
    border: 2px solid red;
    
}
h6{
    color: white;
    text-align: center;
    font-size: 12px;
}
.first-a:hover{
    color: red;
}
.img-qbasic{
    width: 400px;
    height: 250px;
}
.img-qbasic:hover{
    background: black;
}
.container-1{
    display: flex;
    justify-content: center;
}
.img-c-language{
    height: 200px;
    width: 400px;
}
.container{
    display: flex;
    /* justify-content: center; */
}
.first-a:hover{
    background: black;
}
.container-2{
    padding-left: 140px;
    /* background: #dad5d5; */
    background: #ededed;
    width: 450px;
    border: 2px solid black;
    position: relative;
    left: 100px;
    height: 300px;
}
.container-2:hover{
    height: 310px;
    /* width: 500px; */
    width: 100%;
    color: red;
    width: 500px;
    background: black;
    font-size: 22px;
    border: 2px solid red;
}
.p-first{
    position: relative;
    left: 144px;
}
.p-second{
    position: relative;
    top: 48px;
    left: 74px;
}
@media (max-width:1250px) {
    .container-2{
        width: 300px;
        margin-left: 144px;
    }
    .container-2:hover{
        width: 350px;
    }
    .container-1{
        width: 400px;
        border: 2px solid black;
        margin-left: 50px;
    }
    .container-1:hover{
        width: 450px;
    }
    .img-c-language{
        width: 250px;
    }
}
@media (min-width:1000px) and (max-width:1150px) {
    container{
        flex-wrap: wrap;
    }
}
@media (min-width:100px) and (max-width:1149px) {
    .container-2{
        width: 200px;
    }
.img-c-language{
    position: relative;
    right:110px;
}
.p-second{
    position: relative;
    right: 42px;
    padding-right: 542px;
}
.container-1{
    width: 300px;
}
.img-qbasic{
    width: 200px;

}
.p-first{
    position: relative;
    padding-right: 12;
}   
}
@media (min-width:600px) and (max-width:945px) {
    .container-2{
        width: 124px;
    }
    .img-c-language{
        width: 150px;
    }
    .p-second{
        position: relative;
        left: -42px;
        
    }
}
@media (min-width:800px) and (max-width:872px) {
    .container-2{
        width: 100px;
    }
    .container-1{
        width: 250px;
    }  
}
@media (min-width:740px) and (max-width:799px) {
    .container{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
           /* flex-wrap: wrap; */
    }
    .container-2{
        margin-left: 12px;
    }  
    .container-2:hover{

        width: 100px;
    }
    .container-1:hover{
        width: 315px;
    }
}
@media (min-width:600px) and (max-width:739px) {
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .container-1{
        margin-left: 194px;
    }
    .container-1:hover{
        width: 320px;
    }
    .container-2{
        margin-left: 100px;
        width: 150px;
        /* padding-left: 2px; */
     
    }
    .container-2:hover{
        width: 160px;
    }
}
@media (min-width:370px) and (max-width:599px) {
    .container{
        flex-direction: column;
    }
    .container-2{
        margin-left: -49px;
        width: 158px;
    }
    .container-2:hover{
        width: 160px;
    }
    .p-second{
        position: relative;
        left: 8px;
    }
    .container-1:hover{
        width: 300px;
    }
    .p-first{
        position: relative;
        left: 40px;
    }
}
@media (min-width:402px) and (max-width:434px) {
    .sub{
        font-size: 14px;
    }
    .function{
        font-size: 14px;
    }
    
}
@media (min-width:370px) and (max-width:401px) {
    .sub{
        font-size: 12px;
    }
    .function{
        font-size: 12px;
    }
}
@media (min-width:390px) and (max-width:420px) {
    .index{
        font-size: 14px;
    }
    .qbasic{
        font-size: 14px;
    }
    .c-language{
        font-size: 14px;
    }
}
@media (max-width:389px) {
    .index{
        font-size: 12px;
    }
    .qbasic{
        font-size: 12px;
    }
    .c-language{
        font-size: 12px;
    }
}
@media (max-width:370px) {
    .sub{
        font-size: 11px;
    }
    .function{
        font-size: 11px;
    }
    
}
 @media (min-width:300px) and (max-width:369px) {
     .container-box{
         display: flex;
         flex-direction: column;
     }
     .container{
        flex-direction: column;
    }
    .container-2{
        margin-left: -49px;
        width: 158px;
    }
    .container-2:hover{
        width: 160px;
    }
    .p-second{
        position: relative;
        left: 8px;
    }
    .container-1:hover{
        width: 300px;
    }
    .p-first{
        position: relative;
        left: 40px;
    }
    
} 
.sub:hover{
    border-bottom-left-radius: 2px solid black;
}
.h1-qbasic{
    color: #ffa41c;
    text-align: center;
    /* background: #959fa6; */
    background:#162a61 ;
    border: 1px solid black;
    text-decoration: none;
    font-size: 21px;
}
.h1-qbasic:hover{
    color: #b0802c;
}
.p-qbasic-first{
    font-weight: 600;
    font-size: 20px;
    color: rgb(66, 66, 136);
}
#container-to-edit-1{
    height: 400px;
}
#container-to-edit-2{
    height: 400px;
}
#container-to-edit-3{
    height: 400px;
}
.container-to-edit{
    display: flex;
    flex-wrap: wrap;
}
.container-1-qbasic{
    background: rgb(224, 224, 240);
    justify-content: center;
    height: 320px;
    width: 402px;
    border: 2px solid black;
    margin: 14px;
}
.container-1-qbasic:hover{
    background: black;
    color: white;
    border: 2px solid red;
}
.main-heading{
    color: white;
    background:  #162a61;
    
}
.name-heading:hover{
    color: orange;
}
.container-header{
    display: flex;
}
.name-heading{
    color: white;
    background:  #162a61;
}
.container-box{
    color: #9fb0cc;
    background: #162a61;
    width: 294px;
    height: 100px;
    font-style: oblique;
}
.main-container{
    display: flex;
    flex-wrap: wrap; 
}
.code-1{
    font-size: 14px;
    font-weight: bolder;
}
.nav-1{
    background: #162a61;
    border-bottom: 2px solid black;
    position: sticky;
    top: 80px;
}
#container-to-add-5{
    height: 400px;
}
.container-to-add-10{
    display: flex;
    flex-wrap: wrap;
}
#container-to-add-8{
    height: 400px;
}
#container-to-add-9{
    height: 400px;
}